@charset "utf-8";
body, input, select, textarea, button, .ui-btn {
font-family: Tahoma, Geneva, sans-serif;
}
body,
.lvg-news-popup {
background: #000 url(../img/common/bg.jpg) no-repeat center top;
background-size: auto;
background-attachment: fixed;
}
img {
max-width: 100%;
height: auto;
}
.ui-page-theme-a .lvg_champs .ui-btn {
text-indent: -9999px;
background-size: 100% 100%;
box-sizing: border-box;
border: 2px solid #a08945;
}
.ui-page-theme-a .lvg_champs .new_champs {
-webkit-animation: border-color 5s cubic-bezier(1,0,0,1) infinite;
animation: border-color 5s cubic-bezier(1,0,0,1) infinite;
}
.lvg_tabs {
padding: 0;
}
.ui-page-theme-a .ui-bar-inherit {
border: none;
}
.ui-mobile .ui-page {
background-color: transparent;
color: #fff;
text-shadow: none;
}
.ui-page { -webkit-backface-visibility: hidden; }
.lvg_select .ui-select .ui-btn,
.lvg_select .ui-page-theme-a .ui-btn:active,
.lvg_select .ui-page-theme-a .ui-btn:hover {
border-radius: 0;
border: 2px solid #ae903b;
background-color: #000;
color: #fff;
text-shadow: none;
text-transform: uppercase;
letter-spacing: .5px;
}
.lvg_select.lvg_filter_news .ui-select {
margin: 0 0 20px;
}
.lvg_select.lvg_filter_news.select_mb15 .ui-select {
margin-bottom: 15px;
}
.lvg_select.lvg_filter_news .ui-mini .ui-btn-icon-right:after {
max-width: 40px;
}
.ui-mini.ui-btn-icon-right:after {
background-color: rgba(174,144,59,.9);
}
.lvg_skills .skill,
.lvg_skills_sp .skill,
.lvg_runes .rune,
.lvg_items .item {
background: transparent no-repeat center;
background-size: 100%;
border: none;
text-indent: -9999px;
position: relative;
}
.lvg_skills > div .skill:after {
content: 'S1';
width: 15px;
height: 15px;
font-size: 11px;
line-height: 14px;
text-align: center;
border-radius: 50%;
position: absolute;
bottom: 0;
right: 0;
background-color: #FF8C00;
color: #fff;
text-indent: 0;
text-shadow: none;
font-weight: normal;
}
.lvg_skills > div:first-child .skill:after {
display: none;
}
.lvg_skills > div:first-child .skill {
background-size: 75%;
}
.lvg_skills.combo > div {
width: 34px;
display: inline-block;
position: relative;
margin-right: 24px;
}
.lvg_skills.combo > div:after {
content: '>';
position: absolute;
top: 50%;
right: -20px;
margin: auto;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.lvg_skills.combo > div .skill:after,
.lvg_skills.combo > div:last-child:after {
display: none;
}
.lvg_skills.combo > div .skill {
height: 12px;
}
.lvg_skills.combo > div:first-child .skill {
background-size: 100%;
}
.lvg_incskill {
border: solid #ead99f;
border-width: 1px 0 0 1px;
padding-left: 20px;
}
.lvg_incskill div {
font-size: 0;
position: relative;
line-height: 24px;
}
.lvg_incskill div:before {
content: 'S1';
position: absolute;
left: -20px;
top: 0;
text-align: center;
width: 20px;
font-size: 11px;
border: solid #ead99f;
border-width: 0 1px 1px 0;
background-color: #FF8C00;
}
.lvg_incskill div:first-child + div:before,
.lvg_skills > div:first-child + div + div .skill:after {
content: 'S2';
}
.lvg_incskill div:first-child + div + div:before,
.lvg_skills > div:first-child + div + div + div .skill:after {
content: 'S3';
}
.lvg_incskill span {
display: inline-block;
vertical-align: top;
font-size: 11px;
padding: 0;
box-sizing: border-box;
width: 6.666%;
text-align: center;
border: solid #ead99f;
border-width: 0 1px 1px 0;
}
.lvg_incskill span.active {
background-color: #ead99f;
color: #000;
}
.lvg_runes p {
font-size: 11px;
}
.price {
padding-left: 28px;
background: url(../img/common/gold.png) no-repeat left center;
background-size: 20px;
}
.price.inline {
display: inline-block;
vertical-align: top;
margin-top: 0;
margin-right: 10px;
}
.price.voucher {
background-image: url(../img/common/voucher.png);
}
.hr {
border-top: none;
margin: 50px 0;
border-color: #ead99f;
}
.note {
font-size: 12px;
}
.lvg_slider img {
max-width: 100%;
max-height: 480px;
border: 1px solid #ead99f;
}
.ui-page-theme-a .ui-btn.lvg_walls {
margin: 0;
border-color: #ead99f;
border-width: 1px 1px 0 1px;
font-size: 14px;
background-color: #000;
color: #fff;
text-shadow: none;
padding: 0;
line-height: 38px;
}
.ui-page-theme-a .ui-btn.lvg_walls span {
padding-left: 22px;
background: url(../img/common/ico_dl01.png) no-repeat left 10px;
background-size: 16px;
display: inline-block;
vertical-align: top;
}
.ui-page-theme-a .lvg_slider .slick-prev,
.ui-page-theme-a .lvg_slider .slick-next {
position: absolute;
z-index: 1;
width: 50%;
height: 45%;
border-radius: 0;
top: 30%;
border-color: transparent;
color: transparent;
font-size: 0;
background: transparent url(../img/common/ico_prev.png) no-repeat left 30%;
background-size: 34px;
outline: none;
box-shadow: none;
}
.ui-page-theme-a .lvg_slider .slick-next {
right: 0;
background-image: url(../img/common/ico_next.png);
background-position: right 30%;
}
.ui-page-theme-a .lvg_slider .slick-next.slick-disabled,
.ui-page-theme-a .lvg_slider .slick-prev.slick-disabled {
opacity: 0;
visibility: hidden;
}
iframe {
border: none;
max-width: 100%;
height: auto;
}
.ui-header .ui-title {
margin-left: 0;
margin-right: 0;
background: #121821 url(../img/common/bg_head.png) repeat-x center;
color: #f4e6cd;
border-bottom: 1px solid #d3bc79;
border-top: 2px solid #665242;
text-shadow: none;
position: relative;
letter-spacing: 1px;
}
#hero-page .ui-header .ui-title {
background: none;
color: #fff;
}
#hero-page.ui-page-theme-a .ui-bar-inherit {
background-color: transparent;
}
.ui-header .ui-title:before {
content: '';
width: 100%;
height: 1px;
background: #36251f;
position: absolute;
top: 0;
left: 0;
}
.ui-navbar {
border-bottom: 1px solid #ae903b;
position: relative;
}
.ui-navbar:after {
content: '';
height: 100%;
width: 1px;
background: #ae903b;
position: absolute;
top: 0;
left: -9999px;
right: -9999px;
margin: auto;
}
.ui-page-theme-a .ui-navbar .ui-btn,
.ui-page-theme-a .ui-header .ui-btn {
background-color: #000;
color: #fff;
text-shadow: none;
border-width: 0;
}
.ui-page-theme-a .page-head .ui-btn-left,
.ui-page-theme-a .page-head .ui-btn-right {
background: no-repeat center;
z-index: 1;
color: transparent;
background-color: transparent;
border: none;
margin-top: 3px;
box-shadow: none;
left: 0;
width: 60px;
box-sizing: border-box;
}
.ui-page-theme-a .page-head .ui-btn-right {
left: auto;
right: 0;
}
.ui-page-theme-a .page-head .ico-star {
background-image: url(../img/common/icon_menu.png);
}
.ui-page-theme-a .page-head .ico-back {
background-image: url(../img/common/icon_back.png);
margin-top: 2px;
}
.ui-page-theme-a .page-head .ico-news {
background-image: url(../img/common/icon_news.png);
}
.ui-page-theme-a .page-head .ico-news-dl {
background-image: url(../img/common/icon_news_dl.png);
}
.ui-page-theme-a .ui-navbar .ui-btn {
padding: 12px 0 12px 50px;
background: url(../img/common/bg_left.png) no-repeat 0 -10px;
background-size: 58px;
margin: 0;
}
.ui-page-theme-a .ui-navbar ul li:first-child + li .ui-btn {
background-image: url(../img/common/bg_right.png);
background-position: right -20px;
padding-right: 50px;
padding-left: 0;
margin: 0;
}
.disable,
.btn-disable {
pointer-events: none;
position: relative;
}
.disable:after,
.lvg_champs .free:after,
.lvg_champs .new:after {
content: 'Sắp ra mắt';
background: rgba(0,0,0,.3);
color: #a08945;
height: 20px;
line-height: 20px;
width: 192px;
position: absolute;
bottom: 23px;
left: .3125em;
z-index: 1;
text-align: center;
font-size: 86%;
}
.lvg_champs .free,
.lvg_champs .new {
position: relative;
}
.ui-page-theme-a .lvg_champs .free .ui-btn {
border-color: #f4cf6e;
}
.ui-page-theme-a .lvg_champs .new .ui-btn {
border-color: #e80000;
}
.lvg_champs .free:after,
.lvg_champs .new:after {
content: 'Miễn phí';
color: #f4cf6e;
font-size: 80%;
letter-spacing: .5px;
}
.lvg_champs .new:after {
content: 'Mới';
}
#wrap-countdown {
position: fixed;
bottom: 15px;
left: -9999px;
right: -9999px;
margin: auto;
width:  80%;
height: 22px;
line-height: 22px;
font-size: 90%;
background: rgba(255,255,255,.3);
text-align: center;
z-index: 1;
color: #000;
opacity: 0;
visibility: hidden;
-webkit-transition: all .3s ease;
transition: all .3s ease;
text-shadow: none;
}
#wrap-countdown.active {
opacity: 1;
visibility: visible;
}
#wrap-review,
#wrap-updated {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
visibility: hidden;
-webkit-transition: all .3s ease;
transition: all .3s ease;
}
#wrap-review.active,
#wrap-updated.active {
opacity: 1;
visibility: visible;
}
#wrap-review .holder,
#wrap-updated .holder {
display: table;
width: 100%;
height: 100%;
}
#wrap-review .inner,
#wrap-updated .inner {
display: table-cell;
vertical-align: middle;
}
#wrap-review .content,
#wrap-updated .content {
background: #000;
width: 80%;
margin: auto;
border-radius: 5px;
text-shadow: none;
padding: 15px;
box-sizing: border-box;
box-shadow: 0 0 20px #333;
color: #fff;
}
#wrap-review .content p,
#wrap-updated .content p {
margin: 0;
}
#wrap-review .content a,
#wrap-updated .content a {
border-color: #ae903b;
color: #fff;
border-radius: 5px;
font-size: 86%;
margin: 10px 0;
background: #000;
}
.thumb-wrap {
position: relative;
}
.thumb-wrap .vd {
width: 32px;
height: 32px;
background: url(../img/common/icon_yt.png);
position: absolute;
right: 10px;
top: 10px;
color: transparent;
text-indent: -9999px;
}
.lvg_select_champs > div span {
display: block;
text-align: center;
font-size: 75%;
line-height: 12px;
margin-bottom: 5px;
margin-top: -2px;
letter-spacing: .2px;
}
.filter-wrap {
overflow: hidden;
margin: 0 -.3125em;
}
.filter-wrap .col {
float: left;
padding: 0 .3125em;
box-sizing: border-box;
}
.filter-wrap .col:first-child {
width: 92%;
}
.filter-wrap .col:last-child {
width: 8%;
text-align: center;
overflow: hidden;
}
.filter-wrap .ui-select,
.ui-input-text,
.ui-input-search {
margin: 0;
}
.filter-wrap span.lvg_class {
font-size: 0;
line-height: 34px;
}
.filter-wrap .ui-btn-icon-right {
padding: 0;
}
.filter-wrap .ui-input-search {
border-radius: 0;
box-shadow: none;
border-width: 2px;
border-color: #ae903b;
background-color: #000;
text-shadow: none;
color: #fff;
}
.filter-wrap ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #fff;
opacity: .5; /* Firefox */
}
.filter-wrap :-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #fff;
}
.filter-wrap ::-ms-input-placeholder { /* Microsoft Edge */
color: #fff;
}
.filter-wrap .ui-input-search input {
min-height: 34px;
padding-top: 0.3em;
padding-bottom: 0.3em;
font-size: 15px;
}
.filter-wrap .ui-input-search:after {
background-image: url(../img/common/icon_search.png);
}
.transi-page {
content: '';
position: fixed;
width: 100%;
height: 100%;
background: #000;
left: 0;
top: 0;
z-index: 10;
}
.lvg_items .item {
background-size: 100% 100%;
border: 1px solid #a08945;
}
.cnt-story {
max-height: 120px;
overflow: hidden;
}
.btn-read-more {
display: inline-block;
color: #ff9e1b;
}
.slick-initialized .slick-slide {
outline: none;
}
.ui-btn-icon-right:after {
width: 100%;
}
.ui-mini .ui-btn-icon-right:after {
right: 0;
}
#video-popup-popup.ui-popup-container,
div[id^="video"].ui-popup-container {
max-width: none !important;
left: 0 !important;
width: 100%;
top: 0;
left: 0;
display: block;
box-sizing: border-box;
height: 100%;
}
.video-wrap.ui-content {
padding: 0;
height: 100%;
}
.video-wrap.ui-content > .ui-btn-right {
right: 6px;
top: 6px;
}
#wrap-video-popup,
.lvg-news-content .lvg-news-popup {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
z-index: 10;
background-color: #000;
}
#wrap-video-popup {
z-index: 10000;
padding: 30px 0;
box-sizing: border-box;
}
.video-wrap.ui-content iframe,
#wrap-video-popup iframe,
#wrap-video-popup video {
width: 100%;
height: 100%;
}
#wrap-video-popup .close,
.lvg-news-content .lvg-news-popup .close {
position: fixed;
top: 0;
right: 0;
padding: 5px;
z-index: 10000;
width: 60px;
text-align: center;
text-decoration: none;
font-size: 95%;
text-shadow: none;
background: rgba(255,255,255,.6);
color: #fff;
box-shadow: -1px 1px 5px #555;
text-shadow: 1px 1px 5px #555;
}
#wrap-video-popup .vd-notify {
height: 100%;
padding: 60px 30px 30px;
color: #fff;
}
#wrap-video-popup .vd-notify * {
text-shadow: none;
font-size: 105%;
}
#wrap-video-popup .vd-notify .note {
font-size: 85%;
color: #fee540;
line-height: 16px;
}
.lvg-news-content .item,
.lvg_video_list_style .item {
margin-bottom: 40px;
}
.lvg-news-content .item .img,
.lvg_video_list_style .item .img {
border-width: 0;
border-color: #ae903b;
border-style: solid;
display: block;
box-sizing: border-box;
}
.lvg-news-content .item .title,
.lvg_video_list_style .item .title {
color: #ffe291;
font-weight: normal;
letter-spacing: 0.3px;
margin: 10px 0 5px;
line-height: 22px;
font-size: 1em;
padding: 0 15px;
}
.lvg-news-content .item .date,
.lvg_video_list_style .item .date {
display: block;
color: #ae903b;
font-size: 80%;
padding: 0 15px;
}
.lvg-news-content .item .lvg-news-popup .title {
letter-spacing: 0;
line-height: 28px;
font-size: 1.4em;
}
.lvg-news-content .item .lvg-news-popup .date {
display: block;
color: #ae903b;
font-size: 90%;
padding: 0 1em;
}
.lvg-news-content .hr,
.lvg_video_list_style .hr {
border-color: #374451;
margin: 30px 0;
}
.lvg-news-popup .inner {
height: 100%;
overflow-y: scroll;
padding-top: 30px;
}
.news-popup-content {
padding: 0 15px 60px;
word-wrap: break-word;
}
.news-popup-content .news-iframe {
margin: 0 -15px;
}
.news-popup-content .btn-ifvideo {
position: relative;
}
.news-popup-content .btn-ifvideo:after {
content: '';
background: url(../img/common/icon_yt.png) no-repeat center center;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}
.news-popup-content img {
width: auto;
display: block;
max-width: 100%;
}
.news-like {
padding: 0 15px;
}
.news-like span {
display: inline-block;
vertical-align: top;
padding-left: 25px;
background: url(../img/common/icon_like.png) no-repeat left center;
color: #d75a4a;
font-size: 85%;
background-size: auto 100%;
line-height: 20px;
}
.news-note {
text-align: center;
font-size: 84%;
background: rgba(255,255,255,.2);
line-height: 30px;
color: #ffe291;
letter-spacing: .3px;
}
.al-center {
text-align: center;
}
.clr-orange {
color: #ff9e1b;
}
.txt-small {
font-size: 85%;
}
.lvg_channel ul {
list-style: none;
padding: 0;
}
.lvg_channel li {
margin-bottom: 30px;
padding-bottom: 30px;
border-bottom: 1px solid #ae903b;
}
.lvg_channel li:last-child {
margin-bottom: 0;
padding-bottom: 0;
border: none;
}
.lvg_channel a {
display: block;
text-decoration: none;
color: #fff;
font-size: 95%;
padding: 3px 3px 3px 67px;
position: relative;
height: 64px;
background: #fff;
border-radius: 2px;
text-shadow: 1px 1px 3px #000;
}
.lvg_channel span {
display: table;
width: 100%;
height: 100%;
position: relative;
padding-left: 15px;
box-sizing: border-box;
}
.lvg_channel span:after {
content: '';
width: 100%;
height: 100%;
background: no-repeat center center;
background-size: 100%;
position: absolute;
top: 0;
left: 0;
-webkit-filter: blur(7px);
-moz-filter: blur(7px);
-o-filter: blur(7px);
-ms-filter: blur(7px);
filter: blur(7px);
}
.lvg_channel .cn_gvn span:after { background-image: url(../img/channel/garenavn.jpg); }
.lvg_channel .cn_mmv span:after { background-image: url(../img/channel/mobilemobaviet.jpg); }
.lvg_channel .cn_smg span:after { background-image: url(../img/channel/smgliang.jpg); }
.lvg_channel .cn_mh span:after { background-image: url(../img/channel/mahoang.jpg); }
.lvg_channel .cn_txk span:after { background-image: url(../img/channel/tungxeko.jpg); }
.lvg_channel .cn_ntv span:after { background-image: url(../img/channel/nvbtv.jpg); }
.lvg_channel .cn_shn span:after { background-image: url(../img/channel/shawn.jpg); }
.lvg_channel .cn_msuong span:after { background-image: url(../img/channel/msuong_channel.jpg); }
.lvg_channel .cn_kinas span:after { background-image: url(../img/channel/kinas.jpg); }
.lvg_channel .cn_gcaothu span:after { background-image: url(../img/channel/gcaothu.jpg); }
.lvg_channel .cn_uts span:after { background-image: url(../img/channel/uts_channels.jpg); }
.lvg_channel .cn_funny span:after { background-image: url(../img/channel/funny_gaming_tv.jpg); }
.lvg_channel .cn_tng span:after { background-image: url(../img/channel/tng.jpg); }
.lvg_channel .cn_cuonglao span:after { background-image: url(../img/channel/cuonglao_tv.jpg); }
.lvg_channel .cn_oprush span:after { background-image: url(../img/channel/oprush.jpg); }
.lvg_channel .cn_bubuchacha span:after { background-image: url(../img/channel/bubuchacha.jpg); }
.lvg_channel .cn_detu span:after { background-image: url(../img/channel/detu.jpg); }

.lvg_channel i {
display: table-cell;
vertical-align: middle;
font-style: normal;
position: relative;
z-index: 1;
}
.lvg_channel img {
position: absolute;
top: 3px;
left: 3px;
width: 64px;
}
.lvg-news-content .lvg-news-head .img,
.lvg_video_list_style .img {
width: 100%;
}
.lvg_channel_search .filter-wrap {
margin-bottom: 1em;
}
.wrap_btn {
padding: 0 1em;
}
.wrap_btn.st02 {
margin: 0 -.3125em;
padding: 0;
}
#news-page .lvg_filter_news .ui-select {
display: none;
}
.lvg_filter_news .wrap_btn.st02 {
margin: 0;
}
.wrap_btn.none_pd {
padding: 0;
}
.wrap_btn a,
.wrap_btn a:focus,
.wrap_btn a:hover {
border: 1px solid #ae903b;
background-color: #000;
color: #fff;
text-shadow: none;
text-transform: uppercase;
letter-spacing: .5px;
text-align: center;
display: block;
text-decoration: none;
font-size: 85%;
line-height: 34px;
}
.wrap_btn a.txt-small {
font-size: 75%;
}
.ui-mobile .items-brd-light img {
display: block;
border: 1px solid #d3bc79;
box-sizing: border-box;
}
.notify_wifi_text,
.section_none {
display: none;
visibility: hidden;
}
.notify_wifi_text.active {
display: block;
visibility: visible;
}
.btn-videotag {
font-style: italic;
text-decoration: underline;
}
.lvg_skills.combo > div .skill[href*="Skill0"] {
background-size: 95%;
}

@media screen and (max-width: 1024px){
body,
.lvg-news-popup {
background-size: cover;
}
.ui-content {
max-width: 640px;
margin: auto;
box-sizing: border-box;
}
.ui-page-theme-a .lvg_champs .ui-btn {
height: 192px;
}
.lvg_skills .skill,
.lvg_skills_sp .skill {
height: 120px;
}
.lvg_runes .rune {
height: 140px;
}
.lvg_items .item {
height: 160px;
}
.lvg-news-content .item .img,
.lvg_video_list_style .item .img {
border-width: 1px;
}
}

@media screen and (max-width: 768px){
.hero-bg {
position: fixed;
width: 100%;
height: 100%;
background: no-repeat center top;
background-attachment: fixed;
background-size: cover;
filter:alpha(opacity=20);
-moz-opacity: 0.2;
-khtml-opacity: 0.2;
opacity: 0.2;
}
}

@media screen and (max-width: 640px){
.ui-content {
max-width: 100%;
}
.lvg-news-content .item .img,
.lvg_video_list_style .item .img {
border-width: 1px 0;
}
.lvg_channel_search .ui-listview-inset,
.lvg-news-content,
.lvg_video_list_style {
margin: 0 -1em;
}
}

@media screen and (max-width: 600px){
.ui-page-theme-a .lvg_champs .ui-btn {
height: 180px;
}
.lvg_skills .skill,
.lvg_skills_sp .skill {
height: 110px;
}
.lvg_runes .rune {
height: 130px;
}
.disable:after,
.lvg_champs .free:after,
.lvg_champs .new:after {
width: 180px;
}
}

@media screen and (max-width: 540px){
.ui-page-theme-a .lvg_champs .ui-btn {
height: 160px;
}
.lvg_skills .skill,
.lvg_skills_sp .skill {
height: 96px;
}
.lvg_runes .rune {
height: 110px;
}
.lvg_items .item {
height: 140px;
}
.disable:after,
.lvg_champs .free:after,
.lvg_champs .new:after {
width: 160px;
}
.filter-wrap .col:first-child {
width: 90.5%;
}
.filter-wrap .col:last-child {
width: 9.5%;
}
}

@media screen and (max-width: 480px){
.ui-page-theme-a .lvg_champs .ui-btn {
height: 140px;
}
.lvg_skills .skill,
.lvg_skills_sp .skill {
height: 80px;
}
.lvg_runes .rune {
height: 95px;
}
.lvg_items .item {
height: 120px;
}
.disable:after,
.lvg_champs .free:after,
.lvg_champs .new:after {
width: 140px;
}
.filter-wrap .col:first-child {
width: 89%;
}
.filter-wrap .col:last-child {
width: 11%;
}
}

@media screen and (max-width: 425px){
body,
.lvg-news-popup {
background-size: auto;
}
.ui-page-theme-a .lvg_champs .ui-btn {
height: 121px;
}
.lvg_skills .skill,
.lvg_skills_sp .skill {
height: 66px;
}
.lvg_runes .rune {
height: 80px;
}
.lvg_items .item {
height: 98px;
}
.disable:after,
.lvg_champs .free:after,
.lvg_champs .new:after {
width: 121px;
}
.filter-wrap .col:first-child {
width: 88%;
}
.filter-wrap .col:last-child {
width: 12%;
}
}

@media screen and (max-width: 375px){
.ui-page-theme-a .lvg_champs .ui-btn {
height: 104px;
}
.lvg_skills .skill,
.lvg_skills_sp .skill {
height: 54px;
}
.lvg_runes .rune {
height: 65px;
}
.lvg_items .item {
height: 82px;
}
.disable:after,
.lvg_champs .free:after,
.lvg_champs .new:after {
width: 104px;
}
.filter-wrap .col:first-child {
width: 86%;
}
.filter-wrap .col:last-child {
width: 14%;
}
}

@media screen and (max-width: 320px){
.ui-page-theme-a .lvg_champs .ui-btn {
height: 86px;
}
.lvg_skills .skill,
.lvg_skills_sp .skill {
height: 40px;
}
.lvg_runes .rune {
height: 50px;
}
.lvg_items .item {
height: 62px;
}
.disable:after,
.lvg_champs .free:after,
.lvg_champs .new:after {
width: 86px;
}
.filter-wrap .col:first-child {
width: 84%;
}
.filter-wrap .col:last-child {
width: 16%;
}
}

.shop_active {
  display: none;
}