@charset "utf-8";
@font-face {
  font-family: 'Roboto';
  src: url('../font/roboto-regular.ttf') format('truetype');
}
body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
*,
*:focus {
	box-shadow: none;
	outline: none;
}
img {
max-width: 100%;
height: auto;
vertical-align: top;
}
a {
	text-decoration: none;
}
.ui-page-theme-a a, .ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited, .ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover {
	color: #cc263d;
}
.ui-page { -webkit-backface-visibility: hidden; }
.tabs-fixed [data-role="navbar"] {
	position: fixed;
	bottom: -1px;
	left: -1px;
	right: -1px;
	width: 100%;
	z-index: 1;
}
.ui-mini {
	margin: 0;
}
.lvg_holder {
max-width: 640px;
margin: auto;
padding: 30px;
box-sizing: border-box;
overflow: hidden;
}
.ui-corner-all,
.ui-btn.ui-corner-all {
	border-radius: 0;
}
.ui-tabs {
	padding: 0;
}
.hr {
border-top: none;
border-width: 2px;
margin: 50px 0;
border-color: #cc263d;
}
.ui-shadow-inset,
.ui-shadow,
.ui-page-theme-a .ui-focus,
.ui-page-theme-a .ui-btn:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.lvg_champs {
  margin: 0 -3px;
  overflow: hidden;
  font-size: 0;
  text-align: center;
}
.lvg_champs > div {
  margin: 3px;
  display: inline-block;
}
.lvg_champs > div a {
	height: 32px;
	float: left;
	background: no-repeat 0 0;
	background-size: 32px;
	border: none;
	padding: 0 0 0 32px;
	margin: 0;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	width: auto;
	text-decoration: none;
}
.lvg_champs_wrap .lvg_champs > div a {
	border: 2px solid #f7d861 !important;
}
.lvg_champs_wrap .lvg_champs > div.new a {
	border-color: #cc263d !important;
}
.lvg_champs > div > a span {
  padding: 6px;
  display: block;
  background: #333;
  color: #fff;
  text-shadow: none;
}
.lvg_champs_class {
	font-size: 0;
	margin: 0 -5px;
	text-align: center;
}
.lvg_champs_class > span {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin: 5px;
	background: no-repeat center;
	background-size: 90%;
	border: 1px solid #e1e1e1;
	border-radius: 50%;
}
.lvg_champs_class > span.active {
	border-color: #cc263d;
}
.lvg_champs_class > span[data-value="warrior"] { background-image: url(../img/common/ico_war.png); }
.lvg_champs_class > span[data-value="tank"] { background-image: url(../img/common/ico_tank.png); }
.lvg_champs_class > span[data-value="assassin"] { background-image: url(../img/common/ico_assa.png); }
.lvg_champs_class > span[data-value="mage"] { background-image: url(../img/common/ico_mage.png); }
.lvg_champs_class > span[data-value="marksman"] { background-image: url(../img/common/ico_mark.png); }
.lvg_champs_class > span[data-value="support"] { background-image: url(../img/common/ico_sp.png); }
.lvg_champs_wrap .ttl {
	text-align: center;
}
.lvg_champs_wrap .ttl > span {
  display: inline-block;
  position: relative;
  font-size: 85%;
  padding-left: 8px;
  font-weight: bold;
}
.lvg_champs_wrap .ttl > span + span {
	margin-left: 10px;
}
.lvg_champs_wrap .ttl > span:before {
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #f7d861;
	position: absolute;
	left: 0;
	top: 8px;
}
.lvg_champs_wrap .ttl > span.ttl_new:before {
	background: #cc263d;
}

@media (max-width: 600px){
.lvg_holder {
padding: 15px;
}
}

@media (max-width: 540px){

}

@media (max-width: 480px){

}

@media (max-width: 425px){

}

@media (max-width: 375px){

}

@media (max-width: 320px){
.lvg_holder {
padding: 10px;
}
}