@charset "utf-8";
@font-face {
font-family: 'Roboto';
src: url('../font/robotoregular.ttf') format('truetype');
}
@font-face {
  font-family: 'Baloo';
  src: url('../font/balooregular.ttf') format("truetype");
}
body {
line-height: 1.5;
font-family: 'Roboto', sans-serif;
background-color: #fff;
}
.ui-header .ui-title {
font-family: 'Baloo', sans-serif;
text-transform: uppercase;
line-height: 20px;
font-size: 16px;
padding: 5px 0;
margin: 0;
}
.ui-header .ui-title span {
display: block;
font-size: 60%;
font-weight: normal;
line-height: 14px;
font-family: 'Roboto', sans-serif;
}
*,
*:focus {
box-shadow: none;
outline: none;
text-shadow: none;
}
/* h1, h2, h3, h4, h5, h6, strong {
font-family: 'Roboto', sans-serif;
} */
img {
max-width: 100%;
height: auto;
vertical-align: top;
}
a {
text-decoration: none;
}
.ui-page-theme-a a, .ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited, .ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover {
color: #cc263d;
}
.ui-page-theme-a,
.ui-overlay-a {
background-color: transparent;
color: #000;
}
.ui-page { -webkit-backface-visibility: hidden; }
.tabs-fixed [data-role="navbar"] {
position: fixed;
bottom: -1px;
left: -1px;
right: -1px;
width: 100%;
z-index: 1;
}
.ui-mini {
margin: 0;
}
.lvg_holder {
max-width: 640px;
margin: auto;
padding: 55px 30px 60px;
box-sizing: border-box;
overflow: hidden;
}
.ui-corner-all,
.ui-btn.ui-corner-all {
border-radius: 0;
}
.ui-tabs {
padding: 0;
}
.hr {
border-top: none;
border-width: 2px;
margin: 50px 0;
border-color: #cc263d;
}
.ui-shadow-inset,
.ui-shadow,
.ui-page-theme-a .ui-focus,
.ui-page-theme-a .ui-btn:focus {
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.lvg_champs,
.lvg_skills_sp,
.lvg_items,
.lvg_combo .combo,
.lvg_skills {
margin: 0 -3px;
overflow: hidden;
font-size: 0;
text-align: center;
}
.lvg_champs > div,
.lvg_skills_sp > div,
.lvg_items > div,
.lvg_combo .combo > div,
.lvg_skills > div {
margin: 3px;
display: inline-block;
}
.lvg_champs > div a {
height: 32px;
float: left;
background: no-repeat 0 0;
background-size: 32px;
border: none;
padding: 0 0 0 32px;
margin: 0;
font-size: 12px;
line-height: 20px;
font-weight: normal;
width: auto;
text-decoration: none;
}
.lvg_champs > div > a span {
padding: 6px;
display: block;
background: #333;
color: #fff;
text-shadow: none;
}
.lvg_champs > div.new > a span,
.lvg_champs > div.free > a span {
padding-right: 10px;
position: relative;
}
.lvg_champs > div.new > a span:after,
.lvg_champs > div.free > a span:after {	
content: '';
width: 5px;
height: 5px;
border-radius: 50%;
background: #ffde00;
position: absolute;
right: 3px;
top: 3px;
animation: change_color01 1s infinite;
}
.lvg_champs > div.new > a span:after {
background: #cc263d;
animation: change_color02 1s infinite;
}
@keyframes change_color01 {
0% {
background: #ffde00;
}
100% {
background: #fff;
}
}
@keyframes change_color02 {
0% {
background: #cc263d;
}
100% {
background: #fff;
}
}
.lvg_champs_class {
font-size: 0;
margin: 0 -5px;
text-align: center;
}
.lvg_champs_class > span {
width: 40px;
height: 40px;
display: inline-block;
margin: 5px;
background: no-repeat center;
background-size: 90%;
border: 1px solid #e1e1e1;
border-radius: 50%;
}
.lvg_champs_class > span.active {
border-color: #cc263d;
}
#hero-page h3 {
padding-left: 26px;
background: no-repeat 0 1px;
background-size: 24px;
}
.lvg_champs_class > span[data-value="warrior"],
#hero-page.warrior h3 { background-image: url(../img/common/ico_war.png); }
.lvg_champs_class > span[data-value="tank"],
#hero-page.tank h3 { background-image: url(../img/common/ico_tank.png); }
.lvg_champs_class > span[data-value="assassin"],
#hero-page.assassin h3 { background-image: url(../img/common/ico_assa.png); }
.lvg_champs_class > span[data-value="mage"],
#hero-page.mage h3 { background-image: url(../img/common/ico_mage.png); }
.lvg_champs_class > span[data-value="marksman"],
#hero-page.marksman h3 { background-image: url(../img/common/ico_mark.png); }
.lvg_champs_class > span[data-value="support"],
#hero-page.support h3 { background-image: url(../img/common/ico_sp.png); }
.lvg_champs_wrap .ttl {
text-align: center;
}
.ui-page-theme-a .lvg_select_champs .ui-body-inherit {
border: 2px solid #cc263d;
}
.lvg_main_img {
position: fixed;
width: 110%;
height: 110%;
background: url(../img/common/main_img.jpg) no-repeat center;
background-size: cover;
opacity: 0.1;
-webkit-filter: blur(1px);
filter: blur(1px);
top: -5%;
left: -5%;
}
.ui-page-theme-a .ui-bar-inherit {
background-color: #333;
color: #fff;
border: none;
border-bottom: 2px solid #cc263d;
}
.lvg_skills_sp > div a,
.lvg_items > div a,
.lvg_incskill_info > div a,
.lvg_combo .combo > div a,
.lvg_skills > div a {
width: 50px;
height: 50px;
background-size: cover;
display: block;
}
.note {
font-size: 80%;
font-style: italic;
color: #333;
line-height: 18px;
}
.lvg_runes {
font-size: 90%;
}
.lvg_runes > div,
.lvg_champs_related {
padding: 10px 0 10px 70px;
position: relative;
margin-bottom: 10px;
border: 1px solid #333;
}
.lvg_runes > div {
min-height: 44px;
}
.lvg_runes span {
width: 60px;
height: 60px;
display: block;
background-size: cover;
position: absolute;
top: 50%;
left: 5px;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.lvg_incskill > div span {
display: none;
font-size: 90%;
line-height: 24px;
min-width: 24px;
text-align: center;
padding: 2px;
background: #333;
color: #fff;
margin: 3px;
}
.lvg_incskill > div .active {
display: inline-block;
}
.lvg_incskill_wrap {
border: 1px solid #333;
padding: 6px;
}
.lvg_incskill_info {
float: left;
margin-right: 3px;
margin-top: 3px;
}
.lvg_incskill_info > div {
margin-bottom: 6px;
}
.lvg_incskill_info > :first-child,
.lvg_combo .combo > :last-child:after {
display: none;
}
.lvg_incskill_info > div a {
width: 28px;
height: 28px;
}
.lvg_combo .combo > div {
position: relative;
margin: 5px 12px 5px 0;
padding-right: 12px;
}
.lvg_combo .combo > :last-child {
margin-right: 0;
padding-right: 0;
}
.lvg_combo .combo > div:after {
content: '>';
position: absolute;
right: -6px;
top: 50%;
margin: auto;
font-size: 18px;
line-height: 18px;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.lvg_champs_related {
padding: 8px;
display: table;
width: 100%;
box-sizing: border-box;
font-size: 90%;
}
.lvg_champs_related > * {
display: table-cell;
vertical-align: middle;
}
.lvg_champs_related > :last-child {
padding-left: 8px;
border-left: 1px solid #333;
}
.lvg_champs_related .lvg_champs {
text-align: left;
width: 50px;
}
.lvg_champs_related .lvg_champs > div {
margin: 0;
width: auto;
}
.lvg_champs_related .lvg_champs > div a {
float: none;
height: 42px;
background-size: 42px;
width: 42px;
padding: 0;
}
.lvg_champs_related .lvg_champs > div span {
display: none;
}
.lvg_skills > div {
margin: 3px 6px;
}
.lvg_skills > div a {
width: 60px;
height: 60px;
}
.clr-orange {
color: #cc263d;
}
.lvg_slider {
margin: 10px 0;
}
.lvg_slider > div {
border: 1px solid #cc263d;
border-radius: 50px 0 0 50px;
position: relative;
overflow: hidden;
}
.lvg_slider > div + div {
margin-top: 25px;
}
.lvg_slider .thumb-wrap {
width: 70px;
float: left;
margin-right: 20px;
border-right: 1px solid #333;
border-radius: 50%;
overflow: hidden;
}
.lvg_slider .lvg_walls {
margin: 0;
background: #333 url(../img/common/ico_dl01.png) no-repeat center 3px;
color: #fff;
position: absolute;
border: none;
bottom: 5px;
left: 54px;
font-size: 0;
height: 20px;
width: 20px;
border-radius: 50%;
background-size: 60%;
}
.lvg_slider p {
margin: 4px 0 0;
}
.lvg_slider .skin-name {
margin-top: 10px;
}
.price {
padding-left: 28px;
background: url(../img/common/gold.png) no-repeat 0 0;
background-size: 20px;
font-weight: bold;
}
.lvg_slider .price {
padding-left: 22px;
background: url(../img/common/gold.png) no-repeat 0 1px;
background-size: 16px;
font-size: 90%;
}
.event {
font-weight: bold;
}
.lvg_slider .event {
font-size: 90%;
}
.price.voucher {
background-image: url(../img/common/voucher.png);
}
.price.inline {
display: inline-block;
margin-right: 15px;
}
.ui-tabs-nav li .ui-btn {
font-size: 0;
height: 42px;
background-image: url(../img/common/ico01.png);
background-size: auto 65%;
background-repeat: no-repeat;
background-position: center;
}
.ui-tabs-nav li + li .ui-btn {
background-image: url(../img/common/ico03.png);
}
.ui-tabs-nav li + li + li .ui-btn {
background-image: url(../img/common/ico02.png);
}
.ui-tabs-nav li + li + li + li .ui-btn {
background-image: url(../img/common/ico05.png);
}
.ui-page-theme-a .ui-btn.lvg_btn_back,
.ui-page-theme-a .ui-btn.lvg_btn_news {
font-size: 0;
width: 37px;
height: 37px;
background-repeat: no-repeat;
background-color: transparent;
border: none;
top: 4px;
}
.ui-page-theme-a .ui-btn.lvg_btn_news {
border-radius: 50px;
right: 8px;
background-image: url(../img/common/ico04.png);
background-size: auto 80%;
background-position: center 3px;
}
.ui-page-theme-a .ui-btn.lvg_btn_news:active,
.ui-page-theme-a .ui-btn.lvg_btn_news:hover {
background-color: transparent;
background-image: url(../img/common/ico04_active.png);
}
.ui-page-theme-a .ui-btn.lvg_btn_back {
background-image: url(../img/common/ico06.png);
width: 74px;
background-size: auto 80%;
background-position: center;
left: -10px;
}
.ui-page-theme-a .ui-btn.lvg_btn_back:active,
.ui-page-theme-a .ui-btn.lvg_btn_back:hover {
background-image: url(../img/common/ico06_active.png);
background-color: transparent;
}
.lvg_champs_story i {
  font-style: normal;
  font-weight: bold;
}
@media (max-width: 600px){
.lvg_holder {
padding: 45px 15px 70px;
}
}
@media (max-width: 360px){
.lvg_holder {
padding: 40px 10px 60px;
}
.lvg_skills_sp > div a, .lvg_items > div a {
width: 45px;
height: 45px;
}
.lvg_champs_class > span {
width: 34px;
height: 34px;
background-size: 95%;
}
}