@charset "utf-8";
@font-face {
font-family: 'Roboto';
src: url('../font/robotoregular.ttf') format('truetype');
}
@font-face {
font-family: 'Baloo';
src: url('../font/balooregular.ttf') format("truetype");
}
body {
font-family: 'Roboto', sans-serif;
background-color: #fff;
position: relative;
font-size: 16px;
line-height: 24px;
color: #000;
overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
line-height: inherit;
text-transform: uppercase;
margin: 15px 0;
}
h1 {
font-size: 20px;
}
h2 {
font-size: 18px;
}     
h3 {
font-size: 16px;
}
h4,
h5,
h6 {
font-size: 15px;
}
p {
margin: 15px 0;
}
strong {
font-weight: bold;
}
img {
max-width: 100%;
height: auto;
vertical-align: top;
}
a {
text-decoration: underline;
color: #cc263d;
}
a:hover, a:visited {
text-decoration: none;
}
.ui-screen-hidden {
display: none !important;
}
[data-role="page"] {
position: relative;
overflow-x: hidden;
display: none;
}
[data-role="page"].active {
display: block;
}
.lvg_change_page {
position: fixed;
top: -5%;
left: -5%;
width: 110%;
height: 110%;
background: #fff url(../img/main_img.jpg) no-repeat center;
background-size: cover;
-webkit-filter: blur(15px);
filter: blur(15px);
z-index: 9999;
display: none;
}
.lvg_holder {
max-width: 640px;
margin: auto;
padding: 20px 30px 80px;
box-sizing: border-box;
position: relative;
}
[data-role="header"] {
background-color: #333;
color: #fff;
border: none;
border-bottom: 2px solid #cc263d;
position: relative;
text-align: center;
}
[data-role="header"].top-fixed {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;
opacity: .9;
}
[data-role="header"].top-fixed + * {
margin-top: 46px;
}
[data-role="header"] h1 {
font-family: 'Baloo', sans-serif;
text-transform: uppercase;
line-height: 20px;
font-size: 16px;
padding: 5px 0;
margin: 0;
min-height: 34px;
}
[data-role="header"] h1 span {
display: block;
font-size: 60%;
font-weight: inherit;
line-height: 14px;
font-family: 'Roboto', sans-serif;
}
[data-role="navbar"] {
position: fixed;
bottom: 0;
left: 0;
right: 0;
z-index: 1;
}
[id*="hero-tab0"] {
display: none;
overflow: hidden;
}
[id*="hero-tab0"] > *:first-child {
margin-top: 0;
}
[id*="hero-tab0"] > *:last-child {
margin-bottom: 0;
}
[data-role="navbar"] ul {
display: table;
width: 100%;
text-align: center;
border-top: 1px solid #cc263d;
}
[data-role="navbar"] li {
display: table-cell;
width: 25%;
font-size: 0;
}
[data-role="navbar"] li a {
display: block;
height: 38px;
background: #333 url(../img/ico01_active.png) no-repeat center;
background-size: auto 65%;
}
[data-role="navbar"] li a:active,
[data-role="navbar"] li a:hover,
[data-role="navbar"] li a.active {
background-image: url(../img/ico01.png);
background-color: #fafafa;
}
[data-role="navbar"] li + li a {
background-image: url(../img/ico03_active.png);
}
[data-role="navbar"] li + li a:active,
[data-role="navbar"] li + li a:hover,
[data-role="navbar"] li + li a.active {
background-image: url(../img/ico03.png);
}
[data-role="navbar"] li + li + li a {
background-image: url(../img/ico02_active.png);
}
[data-role="navbar"] li + li + li a:active,
[data-role="navbar"] li + li + li a:hover,
[data-role="navbar"] li + li + li a.active {
background-image: url(../img/ico02.png);
}
[data-role="navbar"] li + li + li + li a {
background-image: url(../img/ico05_active.png);
}
[data-role="navbar"] li + li + li + li a:active,
[data-role="navbar"] li + li + li + li a:hover,
[data-role="navbar"] li + li + li + li a.active {
background-image: url(../img/ico05.png);
}
.hr {
border-top: none;
border-width: 2px;
margin: 50px 0;
border-color: #cc263d;
}
.lvg_champs,
.lvg_skills_sp,
.lvg_items,
.lvg_combo .combo,
.lvg_skills {
margin: 0 -3px;
overflow: hidden;
font-size: 0;
text-align: center;
}
.lvg_combo .combo {
max-width: 90%;
margin: auto;
}
.lvg_items {
margin-top: -10px;
margin-bottom: 30px;
}
.lvg_champs > div,
.lvg_skills_sp > div,
.lvg_items > div,
.lvg_combo .combo > div,
.lvg_skills > div {
margin: 3px;
display: inline-block;
vertical-align: top;
}
.lvg_champs > div a {
height: 32px;
float: left;
background: no-repeat 0 0;
background-size: 32px;
border: none;
padding: 0 0 0 32px;
margin: 0;
font-size: 12px;
line-height: 20px;
font-weight: normal;
width: auto;
text-decoration: none;
display: block;
}
.lvg_champs > div > a span {
padding: 6px;
display: block;
background: #333;
color: #fff;
text-shadow: none;
}
.lvg_champs > div.new > a span,
.lvg_champs > div.free > a span {
padding-right: 10px;
position: relative;
}
.lvg_champs > div.new > a span:after,
.lvg_champs > div.free > a span:after {	
content: '';
width: 5px;
height: 5px;
border-radius: 50%;
background: #ffde00;
position: absolute;
right: 3px;
top: 3px;
animation: change_color01 .8s infinite;
}
.lvg_champs > div.new > a span:after {
background: #cc263d;
animation: change_color02 1.2s infinite;
}
@keyframes change_color01 {
0% {
background: #ffde00;
}
100% {
background: #fff;
}
}
@keyframes change_color02 {
0% {
background: #cc263d;
}
100% {
background: #fff;
}
}
.lvg_champs_class {
font-size: 0;
margin: 0 -5px;
text-align: center;
}
.lvg_champs_class > span {
width: 40px;
height: 40px;
display: inline-block;
margin: 5px;
background: no-repeat center;
background-size: 90%;
border: 1px solid #e1e1e1;
border-radius: 50%;
}
.lvg_champs_class > span.active {
border-color: #cc263d;
}
#hero-page h3 {
padding-left: 26px;
background: no-repeat 0 -1px;
background-size: 24px;
}
.lvg_champs_class > span[data-value="warrior"],
#hero-page.warrior h3 { background-image: url(../img/ico_war.png); }
.lvg_champs_class > span[data-value="tank"],
#hero-page.tank h3 { background-image: url(../img/ico_tank.png); }
.lvg_champs_class > span[data-value="assassin"],
#hero-page.assassin h3 { background-image: url(../img/ico_assa.png); }
.lvg_champs_class > span[data-value="mage"],
#hero-page.mage h3 { background-image: url(../img/ico_mage.png); }
.lvg_champs_class > span[data-value="marksman"],
#hero-page.marksman h3 { background-image: url(../img/ico_mark.png); }
.lvg_champs_class > span[data-value="support"],
#hero-page.support h3 { background-image: url(../img/ico_sp.png); }
.lvg_champs_wrap .ttl {
text-align: center;
}
.lvg_main_img {
position: fixed;
width: 110%;
height: 110%;
background: url(../img/main_img.jpg) no-repeat center;
background-size: cover;
opacity: 0.1;
-webkit-filter: blur(1px);
filter: blur(1px);
top: -5%;
left: -5%;
}
.lvg_skills_sp > div a,
.lvg_items > div a,
.lvg_incskill_info > div a,
.lvg_combo .combo > div a,
.lvg_skills > div a {
width: 50px;
height: 50px;
background-size: cover;
display: block;
}
.note {
font-size: 85%;
font-style: italic;
color: #333;
line-height: 20px;
}
.lvg_runes {
font-size: 90%;
line-height: 20px;
margin-bottom: 50px;
}
.lvg_runes > div,
.lvg_champs_related {
padding: 10px 0 10px 70px;
position: relative;
margin-bottom: 15px;
border: 1px solid #333;
}
.lvg_runes > div {
min-height: 44px;
}
.lvg_runes span {
width: 60px;
height: 60px;
display: block;
background-size: cover;
position: absolute;
top: 50%;
left: 5px;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.lvg_incskill > div span {
display: none;
font-size: 90%;
line-height: 24px;
min-width: 24px;
text-align: center;
padding: 2px;
background: #333;
color: #fff;
margin: 3px;
}
.lvg_incskill > div .active {
display: inline-block;
}
.lvg_incskill_wrap {
border: 1px solid #333;
padding: 6px;
}
.lvg_incskill_info {
float: left;
margin-right: 3px;
margin-top: 3px;
}
.lvg_incskill_info > div {
margin-bottom: 6px;
}
.lvg_incskill_info > :first-child,
.lvg_combo .combo > :last-child:after {
display: none;
}
.lvg_incskill_info > div a {
width: 28px;
height: 28px;
}
.lvg_combo .combo > div {
position: relative;
margin: 5px 12px 5px 0;
padding-right: 12px;
}
.lvg_combo .combo > :last-child {
margin-right: 0;
padding-right: 0;
}
.lvg_combo .combo > div:after {
content: '>';
position: absolute;
right: -6px;
top: 50%;
margin: auto;
font-size: 18px;
line-height: 18px;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.lvg_champs_related {
padding: 8px;
display: table;
width: 100%;
box-sizing: border-box;
font-size: 90%;
line-height: 20px;
}
.lvg_champs_related > * {
display: table-cell;
vertical-align: middle;
}
.lvg_champs_related > :last-child {
padding-left: 8px;
border-left: 1px solid #333;
}
.lvg_champs_related .lvg_champs {
text-align: left;
width: 50px;
}
.lvg_champs_related .lvg_champs > div {
margin: 0;
width: auto;
}
.lvg_champs_related .lvg_champs > div a {
float: none;
height: 42px;
background-size: 42px;
width: 42px;
padding: 0;
}
.lvg_champs_related .lvg_champs > div span {
display: none;
}
.lvg_skills > div {
margin: 3px 6px;
}
.lvg_skills > div a {
width: 60px;
height: 60px;
}
.clr-orange {
color: #cc263d;
}
.lvg_slider {
margin: 10px 0;
}
.lvg_slider > div {
border: 1px solid #cc263d;
border-radius: 50px 0 0 50px;
position: relative;
overflow: hidden;
}
.lvg_slider > div + div {
margin-top: 25px;
}
.lvg_slider .thumb-wrap {
width: 70px;
float: left;
margin-right: 20px;
border-right: 1px solid #333;
border-radius: 50%;
overflow: hidden;
}
.lvg_slider .lvg_walls {
margin: 0;
background: #333 url(../img/ico_dl01.png) no-repeat center 3px;
color: #fff;
position: absolute;
border: none;
bottom: 5px;
left: 54px;
font-size: 0;
height: 20px;
width: 20px;
border-radius: 50%;
background-size: 60%;
}
.lvg_slider p {
margin: 4px 0 0;
}
.lvg_slider .skin-name {
margin-top: 10px;
}
.price {
padding-left: 28px;
background: url(../img/gold.png) no-repeat 0 0;
background-size: 20px;
font-weight: bold;
}
.lvg_slider .price {
padding-left: 22px;
background: url(../img/gold.png) no-repeat 0 3px;
background-size: 16px;
font-size: 90%;
}
.event {
font-weight: bold;
}
.lvg_slider .event {
font-size: 90%;
}
.price.voucher {
background-image: url(../img/voucher.png);
}
.price.inline {
display: inline-block;
margin-right: 15px;
}
.lvg_back_btn,
.lvg_menu_btn {
font-size: 0;
width: 37px;
height: 37px;
background-repeat: no-repeat;
background-color: transparent;
border: none;
position: absolute;
top: 4px;
}
.lvg_menu_btn,
.lvg_menu_btn.main {
border-radius: 50px;
right: 8px;
background-image: url(../img/ico04.png);
background-size: auto 80%;
background-position: center 3px;
}
.lvg_menu_btn.main {
background-image: url(../img/ico04_active.png);
font-size: 0;
width: 40px;
height: 40px;
border-radius: 50%;
border: 1px solid #cc263d;
background-repeat: no-repeat;
top: 10px;
right: 10px;
}
.lvg_menu_btn.main:active,
.lvg_menu_btn.main:hover {
background-image: url(../img/ico04.png);
background-color: #cc263d;
}
.lvg_menu_btn:active,
.lvg_menu_btn:hover {
background-color: transparent;
background-image: url(../img/ico04_active.png);
}
.lvg_back_btn {
background-image: url(../img/ico06.png);
width: 74px;
background-size: auto 80%;
background-position: center;
left: -10px;
}
.lvg_back_btn:active,
.lvg_back_btn:hover {
background-image: url(../img/ico06_active.png);
background-color: transparent;
}
.lvg_champs_story i {
font-style: normal;
font-weight: bold;
}
.lvg_img_main {
margin: -5px auto 0;
max-width: 190px;
}
.lvg_champ_quote {
font-family: 'Baloo', sans-serif;
text-align: center;
font-size: 80%;
position: relative;
padding-bottom: 2px;
margin: 10px 0;
line-height: 22px;
}
.lvg_champ_quote:after {
content: '';
width: 50px;
height: 1px;
background: #cc263d;
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
@media (max-width: 640px){
.lvg_holder {
padding: 20px 15px 70px;
}
}
@media (max-width: 360px){
.lvg_holder {
padding: 15px 10px 70px;
}
.lvg_skills_sp > div a, .lvg_items > div a {
width: 45px;
height: 45px;
}
.lvg_champs_class > span {
width: 34px;
height: 34px;
background-size: 95%;
}
.lvg_img_main {
margin: auto;
max-width: 184px;
}
.lvg_menu_btn.main {
width: 34px;
height: 34px;
}
}
.news-popup-content > * {
margin: 20px 0;
}
.news-popup-content table {
width: 100%;
}
.news-popup-content table td, .news-popup-content table th {
padding: 5px 10px;
border: 1px solid #333;
}
.news-popup-content .tbl-border-wrap {
overflow-x: auto;
}
.lvg-news-content .lvg-news-popup {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
z-index: 10;
background-color: #fff;
overflow-y: auto;
padding: 30px;
box-sizing: border-box;
}
.lvg-news-content .lvg-news-popup .close {
position: fixed;
top: 0;
right: 0;
padding: 5px;
z-index: 10000;
width: 60px;
text-align: center;
text-decoration: none;
font-size: 95%;
text-shadow: none;
background: rgba(255,255,255,.6);
color: #000;
box-shadow: -1px 1px 5px #555;
}
.lvg-news-content .item,
.lvg_video_list_style .item {
margin-bottom: 40px;
}
.lvg-news-content .item .img,
.lvg_video_list_style .item .img {
border-width: 0;
border-color: #ae903b;
border-style: solid;
display: block;
box-sizing: border-box;
}
.lvg-news-content .item .title,
.lvg_video_list_style .item .title {
font-weight: normal;
letter-spacing: 0.3px;
margin: 10px 0 5px;
line-height: 22px;
font-size: 1em;
padding: 0 15px;
font-weight: bold;
}
.lvg-news-content .item .date,
.lvg_video_list_style .item .date {
display: block;
color: #333;
font-size: 80%;
padding: 0 15px;
font-style: italic;
}
.lvg-news-content .item .lvg-news-popup .title {
letter-spacing: 0;
line-height: 30px;
font-size: 1.4em;
padding: 0;
}
.lvg-news-content .item .lvg-news-popup .date {
display: block;
color: #cc263d;
font-size: 85%;
padding: 0;
}
.lvg-news-content .hr,
.lvg_video_list_style .hr {
border-color: #374451;
margin: 30px 0;
}
.lvg-news-content .lvg-news-head .img,
.lvg_video_list_style .img {
width: 100%;
}
.lvg-news-content .lvg-news-popup .inner {
padding-top: 25px;
}
.img-load {
text-align: center;
}
.img-load img {
max-width: 40px;
}
.wrap_btn_old {
text-align: center;
}
.wrap_btn_old a {
padding: 6px 12px;
border: 1px solid #cc263d;
text-decoration: none;
}
.wrap-btn-news01.active,
.wrap-btn-news02.active,
.wrap-btn-shop01.active,
.wrap-btn-shop02.active {
display: none;
}
.lvg_shop_list {
overflow: hidden;
margin: 0 -30px;
}
.lvg_shop_list > div {
float: left;
width: 50%;
padding: 20px 30px;
box-sizing: border-box;
}
.lvg_shop_list a {
text-decoration: none;
}
.lvg_shop_list .pro-price {
font-size: 85%;
color: #000;
}
.lvg_shop_list .pro-wrap {
text-align: center;
margin: 5px 0;
}
.lvg_shop_ip_wrap input {
width: 100%;
box-sizing: border-box;
padding: 6px 12px;
font-size: 90%;
}
.lvg_popup {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
visibility: hidden;
-webkit-transition: all .3s ease;
transition: all .3s ease;
text-align: center;
background: rgba(0,0,0,.5);
}
.lvg_popup.tp02 {
z-index: 10000;
background: rgba(0,0,0,.7);
}
.lvg_popup.active {
opacity: 1;
visibility: visible;
}
.lvg_popup .content {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
width: 80%;
margin: auto;
border-radius: 0;
text-shadow: none;
padding: 15px;
box-sizing: border-box;
box-shadow: 0 0 10px #333;
font-size: 90%;
line-height: 20px;
background: #f2f2f2;
}
.lvg_popup.lvg_menu_wrap .content {
height: 80%;
padding: 5px;
}
.lvg_popup.lvg_menu_wrap .holder {
border: 2px solid #cc263d;
padding: 10px;
height: 100%;
box-sizing: border-box;
}
.lvg_popup p {
margin: 0;
}
.lvg_popup .ttl {
margin-bottom: 10px;
font-weight: bold;
text-transform: uppercase;
}
.lvg_popup .content.tp02 > p {
text-align: left;
}
.lvg_popup .lvg_popup_link {
color: #fff;
border-radius: 5px;
font-size: 100%;
background: #000;
display: block;
max-width: 80%;
margin: auto;
line-height: 34px;
text-decoration: none;
}
.lvg_popup .lvg_popup_link + a {
margin-top: 10px;
}
.lvg_popup_close {
position: absolute;
top: 0;
right: 0;
width: 32px;
background: #333;
font-weight: bold;
text-decoration: none;
line-height: 26px;
color: #fff;
border-radius: 0;
padding: 1px 0 3px;
}
.lvg_popup.lvg_menu_wrap .lvg_popup_close {
left: 0;
margin: auto;
bottom: -10px;
top: auto;
width: 60%;
border: 2px solid #cc263d;
font-size: 90%;
line-height: 28px;
}
@media (max-width: 1024px) {
.lvg-news-content .item .img,
.lvg_video_list_style .item .img {
border-width: 1px;
}
}
@media (max-width: 640px) {
.lvg-news-content .item .img,
.lvg_video_list_style .item .img {
border-width: 1px 0;
}
.lvg_channel_search .ui-listview-inset,
.lvg-news-content,
.lvg_video_list_style {
margin: 0 -15px;
}
.lvg-news-content .lvg-news-popup {
padding: 15px;
}
.lvg_shop_list {
margin: 0 -15px;
}
.lvg_shop_list > div {
padding: 15px;
}
}
@media (max-width: 360px) {
.lvg-news-content .lvg-news-popup {
padding: 15px 10px;
}
}